.button {
    border: 1px solid #eaeaea ;
    border-radius: 5px;
    padding: 10px 50px;
    margin-left: 120;
    background-color: transparent;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #FAFAFA ;
    text-transform: capitalize;
    letter-spacing: 1px;
}

input[type='text'] {
  width: 300px;
  height: 25px;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  border: 1px solid black ;
  border-radius: 5px;
}
