
body {
    background-image: url("bluebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.app-title {
    margin-top:80px;
    margin-left:100px;
    color: #FAFAFA;
    font-size: 56px;
    font-family: Arial,sans-serif;
}

.company-intro {
    font-size: 25px;
    color: #FAFAFA;
     margin-left:100px;
    font-family: 'Titillium Web', sans-serif;
    width: 450px;
}


.primary-function {
   margin-left:120px;
   margin-top:50px;

  /* width:400px;
   height:300px;*/
}

.survey-box {

    border: 1px solid #eaeaea ;
    border-radius: 5px;
    padding: 10px 50px;
    margin-left: 120;
    background-color: transparent;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #FAFAFA ;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.sign-butt: hover {
    background-color: #FFF7D2 ;
    border: 1px solid #FFF69F ;
    animation: signb .5s ease-in-out;
}


.chart-box {
    display: inline;
    border: 1px solid #eaeaea ;
    margin-left:200px;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: transparent;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #FAFAFA ;
    text-transform: capitalize;
    letter-spacing: 1px;
}



/*.boxcontainer {
  width: 40%;
  background-color: #FAFAFA;
/*  justify-content: flex-end;*/
/*}
*/

